<div class="row">

  
  <%= form_tag(html: {class: 'form-horizontal'}) do %>
    <fieldset>
      <legend>Please, log in.</legend>
        <div class="row">
          <div class="form-group bg-info col-xs-4 col-md-offset-2">
            <% if flash[:alert] %>
              <%= flash[:alert] %>
            <% end %>
          </div>
        </div>  
      <div class="field form-group">
        <%= label_tag :name, 'Name:', class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-4">
          <%= text_field_tag :name, params[:name], class: 'form-control' %>
        </div>
      </div>
      <div class="field form-group">
        <%= label_tag :password, 'Password:', class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-4">
          <%= password_field_tag :password, params[:password], class: 'form-control' %>
        </div>
      </div>
      <div class="field form-group">
        <%= submit_tag 'Login', class: 'btn col-sm-1 col-md-offset-2' %>
      </div>
    </fieldset>
  <% end %>
</div>