<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div class="row">
      <div class="col col-sm-2"></div>
      <div class="input-group col-sm-7">
        <div id="" class="form-group bg-warning">
          <ul>
            <dt><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</dt>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
    
    <fieldset>
      <legend>Enter user details</legend>
      <div class="field form-group">
        <%= f.label :name, class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-7">
          <%= f.text_field :name, size: 32, class: 'form-control' %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :password, class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-7">
          <%= f.password_field :password, size: 32, class: 'form-control' %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-7">
          <%= f.password_field :password_confirmation, size: 32, class: 'form-control' %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-7">
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :admin, class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-7">
          <%= f.select :admin, [false, true], class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </fieldset>
<% end %>
