<%= form_for(@ticket, html: {class: 'form-horizontal'}) do |f| %>
  <% if @ticket.errors.any? %>
    <div class="row">
      <div class="input-group col-sm-7 col-md-offset-2">
        <div id="" class="form-group bg-warning">
          <ul>
            <dt><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</dt>
            <% @ticket.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if session[:user_id] %>
    <div class="form-group">
      <%= f.label  :user_id, 'Assign to', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-7">
        <%= f.collection_select :user_id, User.all, :id, :name, :include_blank => true, class: 'form-control' %>
      </div>
    </div>
    <!--<div class="form-group">-->
    <!--  <%= f.label  :status, class: 'col-sm-2 control-label' %>-->
    <!--  <div class="input-group col-sm-7">-->
    <!--    <%= f.select :status, ['Assigned', 'To be Assigned', 'Completed'], class: 'form-control' %>-->
    <!--  </div>-->
    <!--</div>-->
  <% end %>
  <div class="field form-group">
    <%= f.label :first_name, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_field :first_name, class: 'form-control', placeholder: 'Your name' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_title, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_field :job_title, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :department, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_field :department, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_needed_by, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.date_select :date_needed_by %>
      <!--<label for="ticket_date_needed_by" class="input-group-addon glyphicon glyphicon-calendar"></label>-->
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :priority, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.select :priority, ['1 - High', '2 - Standart', '3 - Low', '4 - Special'], :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :position, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.select :position, ['Faculty', 'Staff', 'Student', 'Other'], :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type_of_request, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.select :type_of_request, ['Internal', 'External', 'Other'], :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :purpose, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_field :purpose, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_area :description, class: 'form-control', rows: 5 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_period, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.text_field :time_period, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :student_type, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.select :student_type, ['All student', 'Undergraduate', 'Freshman', 'Full-time'], :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :campus, class: 'col-sm-2 control-label' %>
    <div class="input-group col-sm-7">
      <%= f.select :campus, ['1. Main Campus', '2. Gallop', '3. Taos', '4. Valencia'], :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
